<p>
  {{quote.description}}
  {{quote.author}}
</p>

<button class="btn btn-primary m-1" (click)='upVote()'><span class="text-warning ml-3">Upvotes{{quote.upvotes}}</span>
</button>
<button class="btn btn-primary m-1"> <span class="text-warning ml-3"
  (click)='downVote()'>Downvotes{{quote.downvotes}}</span></button>

<app-like-button></app-like-button>

<div class="card-footer text-muted">
  <small>Submitted by &nbsp;&nbsp;<b style=color:purple>{{quote.postdate|dateCount}}</b> &nbsp;&nbsp;on
    {{quote.postdate|dateCount}}  day(s) ago)</small><br>
  <button class="btn" style="color: red;" (click)='quoteDelete(true)'><i
      class="fas fa-trash-alt"></i>&nbsp;Delete</button>
  <button class="btn" (click)="downVote()" appHighlightVote>{{quote.downvotes}}&nbsp;&nbsp;<i
      class="fas fa-thumbs-down vote"></i></button>&nbsp;&nbsp;
  <button class="btn" (click)="upVote()" appHighlightVote>{{quote.upvotes}}&nbsp;&nbsp;<i
      class="fas fa-thumbs-up vote"></i></button>&nbsp;&nbsp;
</div>
