@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    /* gives the header a gradient background */
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: rgb(9, 42, 151);
  }
  /* body{
      background-image: ;
  } */
h6{
    font-family: 'Poppins', sans-serif;
    color: rgb(27, 5, 54);
    font-size: 1.2rem;
}
.description{
    font-family: 'Poppins', sans-serif;
    color: white; 
}
.container p{
    font-family: 'Poppins', sans-serif;
    color: rgb(10, 9, 41);
    font-size: 1.2rem;

}
.btn-primary{
    background-color: rgb(159, 129, 219); /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  
}

.card{
    width: 380px;
      padding: 20px;
      border: 1px solid #c9c9c9;
      display: flex;
}
/* .quotes{
    display: flex;
    justify-content: space-between;

} */
