<div class="container">
    
    <p>Enlighten Us! </p>

    <hr>
  
    <div class="row">
      <div class="col-md-8">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}} appHigh>{{quote.quote}} due on {{quote.postdate|date|uppercase}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          </div>
  
          <div class="description">
            <app-quote-detail *ngIf='quote.showDescription'  [quote]='quote' (isVoted) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form> 
   </div>

   <!-- <div class="card-footer text-muted">
    <small>Submitted by &nbsp;&nbsp;<b style=color:black>{{quote.postdate}}</b> &nbsp;&nbsp;on
      {{quote.postdate|date}} ({{quote.postdate|date}} day(s) ago)</small><br>
    <button class="btn" style="color: red;" (click)='Delete(true)'><i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
    <button class="btn" (click)="downVote()" appHighlightVote>{{quote.downvotes}}&nbsp;&nbsp;<i
        class="fas fa-thumbs-down vote"></i></button>&nbsp;&nbsp;
    <button class="btn" (click)="upvo()" appHighlightVote>{{quotes.upvote}}&nbsp;&nbsp;<i
        class="fas fa-thumbs-up vote"></i></button>&nbsp;&nbsp;
  </div> -->












<!-- <p>My Quotes</p>
<ul *ngFor = 'let quote of quotes ;let i=index'>
    <div *ngIf='quote.upvotes == highest && quote.upvotes>0; then highlight else empty'></div>
    <ng-template #highlight>
    <li appHighlight>{{quote.quote}}  -->
      
        <!-- <app-quote-detail *ngIf='quote.showDescription' [quote]="quote"(isVoted) = 'quoteupvotes($event,i)'></app-quote-detail>
        <app-quote-detail *ngIf='quote.showDescription' [quote]="quote"(isVoted) = 'quotedownvotes($event,i)'></app-quote-detail> -->
    <!-- </li> 
    <button (click)='toggleDetails(i)'> Description</button>  
    </ng-template>
    <ng-template #empty>
    <li>
    {{quote.quote}} 
    <button class="btn btn-primary m-1"><span class="text-warning ml-3">Upvotes{{quote.upvotes}}</span> </button>
     <button class="btn btn-primary m-1"> <span class="text-warning ml-3">Downvotes{{quote.downvotes}}</span></button>
       <app-quote-detail *ngIf='quote.showDescription' [quote]="quote"(isVoted) = 'upvotes($event,i)'></app-quote-detail>
       <app-quote-detail *ngIf='quote.showDescription' [quote]="quote"(isVoted) = 'quotedownvotes($event,i)'></app-quote-detail> -->
       <!-- <app-quote-detail *ngIf='quote.showDescription' [quote]="quote"></app-quote-detail> -->
    <!-- </li>
    </ng-template>
    
</ul> -->
