<p>
    {{quote.description}}
    {{quote.author}}
  </p>
  
<!-- <button (click)= 'quoteUpVote(true)'>UpVote</button>
<button (click)= 'quoteDownVote(true)'>Downvote</button> -->
<button class="btn btn-primary m-1" (click)= 'quoteUpVote(true)'><span class="text-warning ml-3">Upvotes{{quote.upvotes}}</span> </button>
<button class="btn btn-primary m-1"> <span class="text-warning ml-3" (click)= 'quoteDownVote(true)'>Downvotes{{quote.downvotes}}</span></button>

<!-- <div class="card-footer text-muted">
  <small>Submitted by &nbsp;&nbsp;<b style=color:black>{{quote.postdate}}</b> &nbsp;&nbsp;on
    {{quote.postdate|date}} ({{quote.postdate|date}} day(s) ago)</small><br>
  <button class="btn" style="color: red;" (click)='Delete(true)'><i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
  <button class="btn" (click)="downVote()" appHighlightVote>{{quote.downvotes}}&nbsp;&nbsp;<i
      class="fas fa-thumbs-down vote"></i></button>&nbsp;&nbsp;
  <button class="btn" (click)="upVote()" appHighlightVote>{{quote.upvotes}}&nbsp;&nbsp;<i
      class="fas fa-thumbs-up vote"></i></button>&nbsp;&nbsp;
</div> -->


